<!-- templates/registration/password_reset_confirm.html -->

{% extends 'main/base.html' %}

{% block title %}Set New Password{% endblock %}

{% block content %}
<div class="password-reset-confirm-box">
    <div class="password-reset-confirm-logo">
        <a href="{% url 'dashboard' %}">AdminLTE<b>ISP</b></a>
    </div>
    <div class="card">
        <div class="card-body password-reset-confirm-card-body">
            <p class="password-reset-confirm-box-msg">Set a new password</p>
            <form method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="password" name="new_password1" class="form-control" placeholder="New Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" name="new_password2" class="form-control" placeholder="Confirm Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Set new password</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
