<!-- templates/registration/password_reset.html -->

{% extends 'main/base.html' %}

{% block title %}Password Reset{% endblock %}

{% block content %}
<div class="password-reset-box">
    <div class="password-reset-logo">
        <a href="{% url 'dashboard' %}">AdminLTE<b>ISP</b></a>
    </div>
    <div class="card">
        <div class="card-body password-reset-card-body">
            <p class="password-reset-box-msg">Reset your password</p>
            <form method="post">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <input type="email" name="email" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Request password reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
